/* Navbar styles */
nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  position: fixed;
  width: 90%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 120px;
}

.back-icon {
  color: blue;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  display: flex;
  margin-left: 90%;
  left: 5%;
}

nav img {
  height: 120px;
  width: 120px;
  display: block;
}

.desktop-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: end;
  align-items: center;
}

.desktop-menu li {
  margin: 0 1rem;
  position: relative;
}

.desktop-menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #a0a7ed;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: left;
  top: 100%;
  left: 0;
  min-width: 200px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 2;
}

.desktop-menu li:hover .dropdown {
  display: block;
}

.desktop-menu li a:hover {
  color: navy;
}

.dropdown li {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 18px;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li a {
  color: navy;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown li:hover {
  background-color: rgba(85, 85, 85, 0.8);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li svg {
  margin-right: 8px;
}

.mobile-menu li, .desktop-menu li {
  margin-bottom: 10px;
}

.mobile-submenu li, .dropdown li {
  margin-left: 20px;
  margin-bottom: 5px;
}

/* Mobile styles */
.burger-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .burger-icon {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #a0a7ed;
    padding: 1rem;
  }

  .mobile-menu li {
    margin: 0.5rem 0;
  }

  .mobile-menu a {
    color: navy;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .mobile-submenu {
    margin-left: 1rem;
  }

  .mobile-submenu li {
    margin: 0.25rem 0;
  }

  .mobile-submenu a {
    font-size: 1rem;
  }
}