.home-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.video-section {
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.background-video2 {
  position: relative;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-overlay, .signup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-sizing: border-box;
}

.text-overlay {
  align-items: flex-start;
}

.heading, .subheading {
  color: navy;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.heading {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.2em;
}



.video-section.snap-in {
  animation: snapIn 0.5s ease-out;
}

@keyframes snapIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Ensure SignUp component is visible */
.signup-overlay .auth-container {
  position: relative;
  top: auto;
  left: auto;
  transform: none;
  width: 100%;
  max-width: 768px;
}