/* src/components/Modules/Modules.css */

.modules {
  padding: 20px;
  background-color: #e6f2ff;
  min-height: 93vh;
}

.module-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
  margin-top: 120px;
}

.module {
  background-color: #8a7fd5;
  border-radius: 20px;
  padding: 40px;
  width: 300px;
  color: white;
  text-align: center;
}


.module-icon {
  width: 250px;
  height: 200px;
  margin-bottom: 10px;
  margin-top: -125px;
  transition: transform 0.3s ease;
}

.module h2 {
  font-size: 1.5em;
  margin-bottom: 40px;
  margin-top: -20px;
  color: rgb(214, 182, 2);
  transition: transform 0.3s ease;
}

.question-mark {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.module ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.module li {
  margin-bottom: 10px;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.character {
  width: 350px;
  height: 350px;
  margin-right: 900px;
  margin-top: -310px;
}

button {
  border-radius: 50px;
  border: none;
  padding: 15px 50px;
  margin-top: 10px;
  background-color: rgb(119, 202, 202);
  color: white;
  cursor: pointer;
}

.module h2:hover,
.module li:hover,
.module-icon:hover,
.question-mark:hover {
  transform: scale(1.4);
}