.tejeros-container {
  background-color: #e6f2ff;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  margin-top: 130px;
  margin-left: 100px;
  margin-right: 80px;
}

.tejeros-container-left {
  display: grid;
  grid-template-columns: 1fr;
}

.tejeros-container-left img {
  width: 500px;
    height: 350px;
  margin-top: 65px;
  margin-bottom: 50px;
  border-radius: 20px; /* Adjust this value to change the roundness of the corners */
  box-shadow: 10px 10px #8c85d5; /* Adds the box shadow */
}

.tejeros-container-right {
  display: grid;
  grid-template-columns: 1fr;
}

.tejeros-container-right h1 {
  color: #0047ab;
  font-size: 30px;
  font-weight: 800;
  margin-top: 30px;
}

.tejeros-description {
  position: relative;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.tejeros-description img {
  position: absolute;
  top: -106px; /* Adjust this value to position the heart image as needed */
  right: 85px; /* Adjust this value to position the heart image as needed */
  width: 30px;
  height: 30px;
  background-color: gold;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tejeros-description img:hover {
  transform: scale(1.2);
}

.tejeros-blank {
  position: absolute;
  top: -70px; /* Adjust this value to position the blank div as needed */
  left: 10;
  height: 4px;
  width: 720px;
  margin-left: 90px;
  background-color: gold;
}

.tejeros-container-right p {
  background-color: #8c85d5;
  margin-left: 90px;
  margin-right: 70px;
  margin-top: -70px;
  padding: 5px;
  text-align: justify;
  font-size: 20px;
  display: block;
  line-height: 1.7;
}

.tejeros-date {
  color: #4169e1;
  font-size: 24px;
  margin-top: -20px;
}

.tejeros-container-right button:hover {
  background-color: #3255b2;
}

.tejeros-container-right button {
  width: 120px;
  margin-top: -10px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 50px;
  background-color: #8a7fd5;
  color: white;
  border: none;
  padding: 0px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .tejeros-container {
    grid-template-columns: 1fr;
    margin: 20px;
    margin-top: 130px;
  }

  .tejeros-container-left img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tejeros-container-right h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .tejeros-description {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .tejeros-description img {
    top: -50px;
    right: -5px;
  }

  .tejeros-blank {
    width: 100%;
    margin-left: 0;
    margin-top: 60px;
  }

  .tejeros-container-right p {
    margin-left: 0;
    margin-right: 0;
    margin-top: -10px;
    font-size: 16px;
  }

  .tejeros-date {
    font-size: 18px;
    margin-top: 10px;
  }

  .tejeros-container-right button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5px;
    padding: 10px;
  }
}