.profile {
    background-color: #e6f2ff;
}

.girlicon {
    height: 100px;
    width: 100px;
    margin-top: 130px;
    margin-left: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: start;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #F0F0F0;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #8c85d5;
    position: relative;
    z-index: 10;
}

.user {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 225px;
}

.user img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 30px;
    background-color: tomato;
}

.user-info {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 15px;
    align-items: start;
}

.user-info span:first-child {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.btnright {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
    position: relative;
    z-index: 20;
}

.btnright button {
    background-color: rgb(255, 229, 79);
    color: rgb(21, 21, 173);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    position: relative;
    z-index: 30;
}

.btnright button:hover {
    background-color: #0056b3;
}

.btnright img {
    height: 15px;
    width: 15px;
    margin-left: 5px;
}

.btnright button:last-child {
    padding-left: 30px;
}

/* Gantimpala */

.second-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.gantimpala-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Changed from center to stretch */
    background-color: #a0a7ed;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 450px; /* Set a fixed height */
    width: 960px;
    max-width: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.gantimpala-container::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}
.gantimpala-container::-webkit-scrollbar-thumb {
    background-color: #ecf0f3;
    border-radius: 10px;
}

.gantimpala-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%; /* Ensure content takes full height */
    padding: 10px; /* Add some padding */
}

.no-rewards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #004085;
    font-size: 18px;
    font-weight: bold;
}

.gantimpala-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004085;
    padding: 10px 0; /* Add some padding */
    background-color: #a0a7ed; /* Match container background */
    position: sticky; /* Make the header stick to the top */
    top: 0;
    z-index: 1;
    font-size: 2em;
}

.badge {
    height: 100px;
    width: 100px;
}

.gantimpalas {
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: #e8e1ff;
    border-radius: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 10px;
}

.info span:first-child {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: -20px;
    text-align: left;
}

.info span:nth-child(2) {
    margin-left: -20px;
}

.resulta-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F0F0F0;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #a0a7ed;
    max-height: 410px;
    max-width: auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}

.resulta-container h1 {
    display: flex;
    justify-content: center;
    color: #004085;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 2em;
}

.resulta-container span {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 20px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.topic-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 10px;
}
  
.topic-item .circular-progress {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.topic-item span {
    flex-grow: 1;
    font-size: 1.1em;
    line-height: 1.2;
    margin-left: 0;
}

.circular-progress {
    display: inline-block;
    vertical-align: middle;
}

.circular-progress svg {
    display: block;
}


/* Edit Form */

.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #27675D;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    max-width: 400px;
    width: 90%;
    padding: 20px;
    z-index: 1000;
}

.edit-form form div {
    margin-bottom: 15px;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.edit-form input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 19px;
}

.edit-form button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-bottom: -100px;
}

.edit-form button:hover {
    background-color: #218838;
}

.user-tag {
    margin-top: -20px;
}

.upload-pic, 
.user-tag,
.edit-form button {
    border-radius: 20px;
}

.edit-form button {
    padding: 10px 50px;
    font-size: 20px;
}

.edit-profile,
.edit-user,
.edit-pass,
.edit-bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 20px;
    padding-left: 20px;
}

.edit-profile label,
.edit-user label,
.edit-pass label,
.edit-bio label{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-left: -20px;
}

.upload-pic {
    position: relative;
    width: 100px;
    height: 100px;
    margin: -10px auto 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.upload-pic img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    margin-left: 20px;
}

.upload-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.upload-pic:hover > img {
    opacity: 0.5;
}

.upload-pic:hover .upload-overlay {
    opacity: 1;
}

.upload-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.upload-icon img {
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .profile-container {
        grid-template-columns: 1fr 1fr;
        margin-top: 150px;
        position: relative;
        z-index: 10;
    }

    .user {
        flex-direction: column;
        align-items: center;
    }

    .user img {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .user-info {
        align-items: center;
        text-align: center;
    }

    .btnright {
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
        position: relative;
        z-index: 20;
    }

    .btnright button {
        position: relative;
        z-index: 30;
    }

    .second-container {
        grid-template-columns: 1fr;
    }

    .gantimpala-container {
        width: auto;
        max-width: 100%;
    }

    .resulta-container {
        margin-top: 20px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .edit-form {
        z-index: 5;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: none;
        padding: 20px;
    }

    .edit-form.visible {
        transform: translate(-50%, -50%);
    }

    .edit-user,
    .edit-pass,
    .edit-bio {
        grid-template-columns: 1fr;
    }

    .edit-form label {
        margin-left: 0;
    }

    .upload-pic, 
    .user-tag,
    .edit-form button {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .user-info span:first-child {
        font-size: 24px;
    }

    .btnright button {
        padding: 8px 16px;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .gantimpalas {
        flex-direction: column;
        text-align: center;
    }

    .info span:first-child,
    .info span:nth-child(2) {
        margin-left: 0;
    }

    .resulta-container span {
        font-size: 16px;
        line-height: 1.7;
        margin-top: 0;
    }

    .edit-form {
        padding: 10px;
    }

    .edit-form button {
        margin-bottom: 3px;
    }
}