/* src/components/Unatalakayin/Unatalakayin.css */
.unatalakayin {
    background-color: #e6f2ff;
    min-height: 100vh;
    padding: 20px;
  }
  
  .unatalakayin h1 {
    text-align: center;
    color: #0000FF;
    font-size: 40px;
    margin-top: 110px; /* Adjusted to accommodate the navbar */
    margin-bottom: 60px;
  }
  
  .events-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .event {
    background-color: #8a7fd5;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .event h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .event p {
    font-size: 0.9em;
    margin-bottom: 15px;
  }
  
  .eventbtns2 {
    display: flex;
    justify-content: space-around;
  }
  
  .eventbtns2 button {
    background-color: rgb(255, 229, 79);
    border: none;
    color: white;
    padding: 15px 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  .eventbtns2 button:hover {
    background-color: #669999;
  }
  