/* src/components/Unatalakayin/Unatalakayin.css */
.unatalakayin {
    background-color: #e6f2ff;
    min-height: 100vh;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #0000FF;
    font-size: 36px;
    margin-top: 80px; /* Adjusted to accommodate the navbar */
    margin-bottom: 30px;
  }
  
  .events-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .event {
    background-color: #8a7fd5;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .event-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .event h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .event p {
    font-size: 0.9em;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #77caca;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }