body {
  margin: 0;
  padding: 0;
  transition: background-image 0.5s ease;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(230, 242, 255, 0.7); /* #e6f2ff with 70% opacity */
  z-index: -1;
}
  
.putok-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  z-index: 1;  
}
  
.putok-description-container {
  display: grid;
  text-align: justify;
  color: #0047ab;
  margin-left: 50px;
}

.putok-description-container h1 {
  font-size: 50px;
  text-shadow: 3px 3px 0px #5676a3;
  margin-top: -10px;
}

.putok-description-container p {
  font-size: 20px;
  font-weight: 600;
  display: block;
  line-height: 1.7;
  margin-top: -20px;
  margin-left: 10px;
}

.putok-image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 30px;
  overflow: hidden;
  gap: 20px;
  padding: 20px;
}
  
.image-wrapper {
  width: 280px;
  height: 350px;
  border: 5px solid white;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper.selected {
  border-color: #0047ab;
  transform: scale(1.05);
}

.image-wrapper.zoomed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  z-index: 1000;
  width: 560px;
  height: 700px;
}
  
.putok-arrow-keys img {
  height: 80px;
  width: 80px;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  top: 40px;
  left: 510px;
}

.putok-arrow-keys img:hover {
  transform: scale(1.2);
}

.putok button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: gold;
  color: #0047ab;
  position: relative;
  top: 160px;
  left: 650px;
}

.putok button:hover {
  transform: scale(1.2);
}